.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: var(--color-primary);
  --rdp-background-color: var(--color-secondaryLighter);
  margin: 0;
  padding: 8px;
}

.rdp-months {
  justify-content: center;
}

.rdp-month {
  margin: 0;
}

.rdp-caption {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  align-items: center;
  margin-bottom: 8px;
}

.rdp-caption_label {
  font-weight: 600;
  color: var(--color-text);
  font-size: 14px;
}

.rdp-head_cell {
  color: var(--color-primaryDark);
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}

.rdp-cell {
  padding: 0;
}

.rdp-day {
  border-radius: 8px;
  font-size: 13px;
    color: var(--color-text);
}

.rdp-day_selected:not([disabled]) {
  background-color: var(--color-primary);
  color: var(--color-background);
  font-weight: 600;
}

.rdp-day_today:not([disabled]) {
  font-weight: 700;
  color: var(--color-primary);
}

.rdp-day:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: var(--color-secondaryLight);
}

.rdp-button {
  border-radius: 8px;
  padding: 4px 8px;
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: var(--color-secondaryLight);
}

.rdp-button_reset {
  border: none;
}

.rdp-nav_button {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  border: 1px solid var(--color-border);
  color: var(--color-primary);
  font-weight: 600;
  cursor: pointer;
}

.rdp-nav_button:hover {
  background-color: var(--color-primaryLighter);
}
